<header class="dsc-header-client">
  <nav class="dsc-container">
    <a [routerLink]="['/']" href="#">
      <h1>DSCommerce</h1>
    </a>
    <div class="dsc-navbar-right">
      <div class="dsc-menu-items-container">
        <div class="dsc-menu-item">
          <a [routerLink]="['/cart']" href="#">
            <img ngSrc="assets/images/cart.svg" width="19" height="19" alt="Carrinho de compras"/>
          </a>
        </div>
      </div>
      <a [routerLink]="['/login']" href="#">Entrar</a>
    </div>
  </nav>
</header>
