<div class="dsc-cart-item-container dsc-line-bottom">
  <div class="dsc-cart-item-left">
    <img ngSrc="{{ item.imgUrl }}" width="512" height="510" alt="{{ item.name }}" />
    <div class="dsc-cart-item-description">
      <h3>{{ item.name }}</h3>
      <div class="dsc-cart-item-quantity-container">
        <div class="dsc-cart-item-quantity-btn">-</div>
        <p>{{ item.quantity }}</p>
        <div class="dsc-cart-item-quantity-btn">+</div>
      </div>
    </div>
  </div>
  <div class="dsc-cart-item-right">
    R$ {{ item.quantity * item.price }}
  </div>
</div>
