<div *ngIf="product" class="dsc-card dsc-mb20">
  <div class="dsc-product-details-top dsc-line-bottom">
    <img ngSrc="{{ product.imgUrl }}" width="220" height="219" alt="{{ product.name }}"/>
  </div>
  <div class="dsc-product-details-bottom">
    <h3>R$ {{ product.price }}</h3>
    <h4>{{ product.name }}</h4>
    <p>
      {{ product.description }}
    </p>
    <div class="dsc-category-container">
      <shared-product-category *ngFor="let prod of product.categories" [title]="prod.name"/>
    </div>
  </div>
</div>
