<navbar-client />
<main>
  <section id="catalog-section" class="dsc-container">
    <shared-search-bar />

    <div class="dsc-catalog-cards dsc-mb20 dsc-mt20">
      <product-catalog-card [product]="product" />
      <product-catalog-card [product]="product" />
      <product-catalog-card [product]="product" />
      <product-catalog-card [product]="product" />
      <product-catalog-card [product]="product" />
      <product-catalog-card [product]="product" />
      <product-catalog-card [product]="product" />
      <product-catalog-card [product]="product" />
      <product-catalog-card [product]="product" />
      <product-catalog-card [product]="product" />
      <product-catalog-card [product]="product" />
    </div>

    <shared-button-load-more />

  </section>
</main>
